.form-inline.my-2{
    width: 100%;
    padding: 0 25px;
}

.botonSalir{
    margin-left: auto;
}

.fondo2{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    align-content: space-around;
    justify-content: center;
}

.centro2{
    position: relative;
    text-align: center;
    width: 200px;
    height: 200px;
    background: rgb(126, 217, 86);
    margin: 10% 50px;
    cursor: pointer;
    color: black !important;
    border-radius: 5px;
}

.centro2:hover{
    text-decoration: none;
}

.centro2 img{
    position: absolute;
    width: 100px;
    height: 100px;
    background: rgb(126, 217, 86);
    left: calc(50% - 50px);
    top: -50px;
    padding: 10px;
    border-radius: 50%;
}

.centro2 h2{
    margin-top: 75px;
}

.centro2.color1,
.centro2.color1 img{
    background-color: rgb(0,194,203);
}

.container .row{
    border-radius: 5px;
    background: white;
    margin-top: 10px;
    padding: 15px;
    box-shadow: -1px 10px 40px -22px rgba(0,0,0,0.67);          
}

.container .row video{
    width: 50%;
}

.adminRow article{
    width: 100%;
}

table .boton{
    width: 12px;
}

img.hov:hover{
    cursor: pointer;
}